@import '../../../../shared/styles/fonts.scss';

.product {
  font-weight: $fw-bold;
  max-width: 295px;
}

.img {
  max-width: 220px;
  max-height: 250px;
  padding: 15px;
  margin-bottom: 16px;
}

.title {
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 8px;
}

.star {
  width: 18px;
  height: 18px;
  color: #ffc633;
}

.rating {
  display: flex;
  align-items: center;
  gap: 5px;
}

.price {
  font-size: 24px;
  line-height: 32px;
  margin-top: 8px;
}
