@import '../../../shared/styles/colors.scss';

.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
    padding: 24px 0;
  }

  &__list {
    display: flex;
    align-items: center;
    column-gap: 24px;
  }

  &__item {
    line-height: 22px;
  }
}
